@import "./node_modules/bulma";

.familiares {
  margin: 0 auto;
}

.familia {
  margin-right: 20px;
}

.foto {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
  }
}