$fa-font-path: "./node_modules/@fortawesome/fontawesome-free/webfonts";

@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "./node_modules/bulma";

.nueva-tarea {
  width: 100%;
}

.tarea {
  justify-content: space-between;

  &__completado {
    flex-grow: 0;
  }

  &__texto {
    flex-grow: 2;
  }
}